
@import "../mixins.scss";
//for header section
.header {
    position: absolute;
        width: 100%;
    height: 2vh;
    z-index: 100;
    background-color: white;
 
    @include md {
        height: 25vh;
       position: fixed;
       
    }
    .nav{
        transform: translateY(0);
        width: 100%;
        height: 8vh;
      
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        transition: all ease 0.5s;
   background-color: var( --black-lighter);
        backdrop-filter: blur(3.5px);
       -webkit-backdrop-filter: blur(3.5px);
        color: white;
        h4{
            text-align: center;
            @include md {
                text-align: start;
            }
        }
        .headerIcon{
          
            display: none;
            @include md {
                display: flex;
            }
        }
        .icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all ease 0.3s;
            a{
                color: white;
                &:hover {
                  color:green
                }
            }
            &:hover {
                box-shadow: 0 0 0.625em var(--pink);
                color: var(--pink);
                background-color: var(--black);
            }
        }
    }
    .navSection{
        width: 100%;
        height: calc(100% - 8vh);
     
        display: flex;
        align-items: center;
        justify-content: center;
      position: relative;
      .menubaar{
        display: flex;
        font-size: 2rem;
        position:absolute;
        right:2rem;
        top:2rem;
        cursor:pointer;
        @include md {
            display: none;
        }
      }
      
        .navStack{
            width:100%;
            gap:1rem;
            display: none;
            @include md {
                display: flex;
            }
        }
       
    }
     
}








//for Footer
.footer {
    background-color: var(--black3);
    padding: 50px 0;
    color: white;
    position: relative;
    .contentWrapper {
        display: flex;
      
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        padding-left: 1rem;
        @include md {
            flex-direction: row;
            gap: 0;
            padding-left: 0;
        }
       
    }
    .discription{
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 1rem;
        p{
            letter-spacing: 1px;
            line-height: 1.4rem;
        }
    }
    .menuItems {
        list-style-type: none;
        display: flex;
      
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
        @include md {
            margin-bottom: 30px;
            gap: 20px;
        }
        .menuItem {
            transition: all ease 0.3s;
            cursor: pointer;
            display: flex;
            gap: 1rem;
            font-size: 12px;
            color: white;
           text-decoration: none;
         
            @include md {
                font-size: 16px;
            }
            &:hover {
                color: var(--pink);
            }
          
        }
    }
.followus{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    
    .socialIcons {
        display: flex;
        align-items: center;
      
        @include md {
            justify-content: center;
        }
    
        gap: 10px;
        .icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--black);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all ease 0.3s;
            color: white;
            &:hover {
                box-shadow: 0 0 0.625em var(--pink);
                color: var(--pink);
            }
        }
    }
}
 
}

